
* {
    box-sizing: border-box;
    color:white; 
    font-family: 'Kreon', serif;   
    margin: 0;
    opacity: 1.0;
    padding: 0;
    width:100%;
    

}

html {
    font: 20px/1 serif;

    --powder: #66B9BF;      /* rgb(102,185,191) */
    --tan: #EEAA7B;         /* rgb(238,170,123)*/
    --teal:#E0889B;         /*rgb(102,185,191)*/

    --hover-color: var(--tan);
    --section-title-background:transparent; /*var(--powder); */
     --section-body-background:transparent;/*var(--teal); */

    --deep-text-shadow: 0px 1px 0px rgb(200, 200, 200), 0px 2px 0px rgb(150, 150, 150), 0px 3px 0px rgb(100, 100, 100), 0px 4px 0px rgb(50, 50, 50)6, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333333;
    --medium-text-shadow:0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666;
    --shallow-text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777;

    --light-text-shadow: 0px 1px 0px #333333, 0px 2px 0px #444, 0px 3px 0px#555, 0px 4px 0px rgb(50, 50, 50)6, 0px 5px 0px  rgb(100, 100, 100), 0px 6px 0px rgb(150, 150, 150), 0px 7px 0px rgb(200, 200, 200);

    /* background-image: url("https://github.com/eplum/eplum.github.io/blob/master/bglinesEP.png?raw=true");
    background-repeat: repeat repeat; */
    /* background-image: url("..\abstract-art-artistic-2495173.jpg");
    background-size: auto auto; */
     /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));  */
    /* background-image: url("../abstract-art-artistic-2495173.jpg"); 
    background-size: contain; */
    background-color: rgba(45, 45, 45, 0.9) !important;
    background-image: url('../1tdz_screenshot.png');
    /* background-size: auto auto; */
    /* background-blend-mode: color; */
}
img {
    background-color:var(--section-body-background);
    padding: 1 rem;
    width: 50%;
}

ul {
    list-style: none;
}

 a:link{
    background-color: var(--section-body-background);
    display: inline-block;
    padding: 0.5rem 1rem;  
    text-decoration:none;
} 

a:hover{                                   
    color:var(--hover-color);
}

.about-me-container{
    /* display:flex;*/
    /* justify-content: space-between; */
    /* flex: auto; */
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;

    border: 10px rgb(119, 0, 0);
    border-radius: 1rem; 
    border-style: ridge;
    
    background-color:#999999; /*var(--section-body-background); */
    opacity: 0.90; 
    padding: 0.5rem 1rem;
}

.about-me__list{
    align-items: center;
    display:grid;
    text-shadow: var(--shallow-text-shadow);

}

.about-me__list, .about-me__list__item, .skills__list, .skills__list__item {
    background-color:#999999; /*var(--section-body-background); */
    opacity: 0.90; 
    padding: 0.5rem 1rem;
    width: 100%;
}

.about-me__title, .contact-info__title, .main__title, .projects__title, .skills__title  {
    background-color:var(--section-title-background); 
    /* opacity :0.2;  */
    padding: 1rem 1rem; 
    text-shadow: var(--light-text-shadow);
    display:flex;
    justify-content:center;
}

.contact-info__list{
    align-items: center;
    display:flex;
    justify-content: space-evenly;

    border: 10px rgb(119, 0, 0);
    border-radius: 1rem; 
    border-style: ridge;

}
 
.contact-info__list, .contact-info__list__link, .my-menu, .my-menu__list, .my-menu__list__item{ 
    background-color: var(--section-body-background);
    /* opacity :0.8; */
    padding: 0.5rem 0.5rem;  
    text-shadow: var(--medium-text-shadow);
    width:100%;
    
    background-color:#999999; /*var(--section-body-background); */
    opacity: 0.90; 
    padding: 0.5rem 1rem;
} 

.main__title{
    display:flex;
    justify-content:center;
}

.my-menu{
    border: 10px rgb(119, 0, 0);
    border-radius: 1rem; 
    border-style: ridge;

}
.my-menu__list{
    display:flex;
}

.projects{
    background-color:var(--section-title-background);
    /* opacity: 0.8; */
}

.projects__article{
    background-color: #777777; /* var(--section-title-background) !important; */
    display:grid; 
    grid-template-rows: 2rem 4rem 2rem 5rem;  
    justify-items: center;
    opacity: 0.90; 
    text-shadow: var(--medium-text-shadow);
    width: 100%
 }

 .projects__container{
    align-content: space-around;
    background-color: #999999;/*var(--section-body-background); */
    column-gap: 1rem;   
    display:grid; 
    grid-template-columns: 24.3rem 24.3rem; 
    grid-template-rows: 15.3rem 15.3rem; 
    justify-content: space-around; 
    opacity :0.90;  
    padding: 1rem;
    row-gap: 2rem;
    border: 10px rgb(119, 0, 0);
    border-radius: 1rem; 
    border-style: ridge; 
 }

.projects__list{
    background-color:var(--section-title-background) !important;
    border: 10px rgb(119, 0, 0);
    border-radius: 1rem; 
    border-style: ridge; 
    display:grid; 
    margin: 1 rem;
}

.projects__list__item{
    background-color:var(--section-title-background) !important;
    display:grid;
    justify-items: center;
    padding: 0.5rem 1rem;
}

 .project1__photo, .project2__photo, .project3__photo, .project4__photo{
    width:35%; 
 }

.skills__list{
    display:grid;
    grid-template-columns: auto auto;
    text-shadow: var(--shallow-text-shadow);
    border: 10px rgb(119, 0, 0);
    border-radius: 1rem; 
    border-style: ridge; 
}

.wrapper {
    margin: 0 auto;
    max-width: 60rem;
    width: 90%;
} 