    /* color scheme */
    /* #E37222; tangerine */
    /* #E0889B; teal*/
    /* #66B9BF; powder */
    /* #EEAA7B; tan */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EEAA7B
}

html {
    font: 20px/1 sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.main__title, .about-me-title {
    color: #E0889B; /*teal*/
    background-color:whitesmoke;
    /* padding: 1rem 2rem; */
}

.wrapper {
    margin: 0 auto;
    max-width: 30rem;
    width: 90%;
}