    /* color scheme */
    /* #E37222; tangerine */
    /* #E0889B; teal*/
    /* #66B9BF; powder */
    /* #EEAA7B; tan */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  #EEAA7B; /*tan*/
}


html {
    font: 20px/1 sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.main__title, .about-me-title ,.about-me__list__item, .contact-info__title, .my-skills_title, .projects__title{
    background-color: #66B9Bf; /*powder*/
    color: seashell;
    padding: 1rem 2rem; 
}

.my-skills__list, .my-skills__list__item, .about-me__list, .about-me__list__item, .projects__article, .projects__list, .projects__list__item {
    background-color:#E0889B; /*teal*/
    color: seashell;
    padding: 0.5rem 1rem;
}
.wrapper {
    margin: 0 auto;
    max-width: 30rem;
    width: 90%;
} 